[data-color-scheme="health-white"],
[data-color-scheme="health-off-white"] {
  --btn-scheme-primary-background: var(--global-color-red-havas);
  --btn-scheme-primary-color: var(--global-color-white);
  --btn-scheme-primary-hover-background: var(--global-color-black);
  --btn-scheme-primary-hover-color: var(--global-color-white);
  --btn-scheme-primary-focus-background: var(--global-color-black);
  --btn-scheme-primary-focus-color: var(--global-color-white);
  --btn-scheme-secondary-color: var(--global-color-red-havas);
  --btn-scheme-secondary-hover-bg: transparent;
  --btn-scheme-secondary-hover-text: var(--global-color-red-havas);
  --btn-scheme-secondary-no-arrow-hover-bg: var(--global-color-red-havas);
  --btn-scheme-secondary-no-arrow-hover-text: var(--global-color-white);
  --btn-scheme-link-color: var(--global-color-black);
  --btn-scheme-link-hover-color: var(--global-color-white);
  --btn-scheme-link-fill: var(--global-color-black);
  --btn-scheme-link-focus-color: var(--global-color-black);
}

[data-color-scheme="health-black"] {
  --btn-scheme-primary-background: var(--global-color-white);
  --btn-scheme-primary-color: var(--global-color-red-havas);
  --btn-scheme-primary-hover-background: var(--global-color-black);
  --btn-scheme-primary-hover-color: var(--global-color-white);
  --btn-scheme-primary-focus-background: var(--global-color-black);
  --btn-scheme-primary-focus-color: var(--global-color-white);
  --btn-scheme-secondary-color: var(--global-color-white);
  --btn-scheme-secondary-hover-bg: transparent;
  --btn-scheme-secondary-hover-text: var(--global-color-white);
  --btn-scheme-secondary-no-arrow-hover-bg: var(--global-color-white);
  --btn-scheme-secondary-no-arrow-hover-text: var(--global-color-red-havas);
  --btn-scheme-link-color: var(--global-color-white);
  --btn-scheme-link-hover-color: var(--global-color-black);
  --btn-scheme-link-fill: var(--global-color-white);
  --btn-scheme-link-focus-color: var(--global-color-white);
}
